* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  width: 100%;
  height: 100vh;
  background: #f6f6fd;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem auto;
  width: 90%;
}
h2 {
  font-size: 2.3rem;
  color: #f4459a;
}
.manue {
  margin: 1.5rem 0;
}
.manue a {
  font-size: 1.1rem;
  text-decoration: none;
  margin: 0 1.5rem;
  background: #753cf8;
  color: #fff;
  padding: 8px 22px;
}
.box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}
.store-item {
  width: 300px;
  padding: 1rem;
}
.store-item img {
  width: 100%;
  display: block;
  height: 150px;
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.2);
}
