* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(228, 227, 227);
  flex-direction: column;
}
.container {
  width: 60%;
  height: 600px;
  overflow-y: scroll;
  padding: 40px 30px;
  background: #fff;
  margin-top: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
h1 {
  text-align: center;
  padding: 10px 20px;
  background: goldenrod;
  color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 700;
  margin: 0 auto;
}
.d {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  width: 70%;
  margin: 0 auto;
  margin-top: 2rem;
}
#inp {
  padding: 10px;
  width: 90%;
  height: 50px;
  border: 1px solid black;
  outline: none;
  font-size: 1rem;
  vertical-align: middle;
}
button {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  vertical-align: middle;
  font-size: 30px;
}
.todos {
  width: 85%;
  margin: 0 auto;
  margin-top: 2rem;
}
.paragraphs {
  margin: 15px 10px;
  cursor: pointer;
  font-size: 20px;
}
ol li {
  background: blueviolet;
  color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1rem;
  padding: 15px;
  text-transform: capitalize;
  color: black;
}
